/*reset*/
:root {
  --jet: rgb(25, 25, 25);
  --auburn: rgb(133, 50, 51);
  --dun: rgb(161, 152, 130);
  --khaki: rgb(150, 137, 123);
  --viridian: rgb(50, 93, 68);
  --sea-green: rgb(0, 114, 87);
}

html {
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: auto;
}

body {
  font:
    1rem "Labrada",
    serif;
  margin: 0;
  color: var(--color-white);
  background-color: var(--jet);
}

main {
  margin: 0.5rem auto;
  overflow-y: auto;
  min-height: 95dvh;
  padding: 1.25rem;
}

main .row {
  margin: 0.5rem auto;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

footer {
  background-color: var(--viridian);
  padding: 0.5rem;
  text-align: center;
}
