/*reset*/
:root {
  --jet: rgb(25, 25, 25);
  --auburn: rgb(133, 50, 51);
  --dun: rgb(161, 152, 130);
  --khaki: rgb(150, 137, 123);
  --viridian: rgb(50, 93, 68);
  --sea-green: rgb(0, 114, 87);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

body {
  font:
    1.6rem "Labrada",
    serif;
  margin: 0;
  color: var(--color-white);
  background-color: var(--jet);
}

main {
  margin: 1rem auto;
  overflow-y: auto;
  min-height: 90vh;
  padding: 2rem;
}

main .row {
  margin: 1rem auto;
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  align-items: center;
}

footer {
  background-color: var(--viridian);
  padding: 1rem;
  text-align: center;
}
