@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Labrada:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --jet: rgb(25, 25, 25);
    --auburn: rgb(133, 50, 51);
    --dun: rgb(188, 178, 155);
    --khaki: rgb(164, 152, 140);
    --viridian: rgb(50, 93, 68);
    --sea-green: rgb(0, 114, 87);
}